{{ template "header.tmpl" . }}

<div class="row">
    <h1>All Data</h1>
</div>

<div class="row">
    <ul class="collapsible">

        <li>
            <div class="collapsible-header">
                <i class="material-icons">business</i>
                TOCs
            </div>
            <div class="collapsible-body">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ range .TOCs }}
                            <tr>
                                <td>{{ .ID }}</td>
                                <td>{{ .Name }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">place</i>
                Stations
            </div>
            <div class="collapsible-body">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>CRS</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ range .Stations }}
                            <tr>
                                <td>{{ .ID }}</td>
                                <td>{{ .Name }}</td>
                                <td>{{ .Crs }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">looks_one</i>
                Platforms
            </div>
            <div class="collapsible-body">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Station Name</th>
                            <th>Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ range .Platforms }}
                            <tr>
                                <td>{{ .ID }}</td>
                                <td>{{ .Edges.Station.Name }}</td>
                                <td>{{ .Name }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">date_range</i>
                Days
            </div>
            <div class="collapsible-body">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ range .Days }}
                            <tr>
                                <td>{{ .ID }}</td>
                                <td>{{ .Date | formatAsDate }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">access_time</i>
                Calling Points
            </div>
            <div class="collapsible-body">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Station Name</th>
                            <th>Platform</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ range .CallingPoints }}
                            <tr>
                                <td>{{ .ID }}</td>
                                <td>{{ .Edges.Platform.Edges.Station.Name }}</td>
                                <td>{{ .Edges.Platform.Name }}</td>
                                <td>{{ .ArrivalTime | formatAsTime }}</td>
                                <td>{{ .DepartureTime | formatAsTime }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                <i class="material-icons">train</i>
                Services
            </div>
            <div class="collapsible-body">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TOC Name</th>
                            <th>Uid</th>
                            <th>Headcode</th>
                            <th>Day</th>
                            <th>Calling Points</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ range .Services }}
                            <tr>
                                <td>{{ .ID }}</td>
                                <td>{{ .Edges.Toc.Name }}</td>
                                <td>{{ .UID }}</td>
                                <td>{{ .Headcode }}</td>
                                <td>{{ .Edges.Day.Date | formatAsDate }}</td>
                                <td>{{ .Edges.CallingPoints | listCallingPoints }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </li>

    </ul>
</div>

{{ template "footer.tmpl" . }}